<h1>New Resume</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :fname %>
    <% @user.errors.full_messages_for(:fname).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :"Last Name" %><br>
    <%= form.text_area :lname %>
    <% @user.errors.full_messages_for(:lname).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :"Perfered Name" %><br>
    <%= form.text_field :prename %>
    <% @user.errors.full_messages_for(:prename).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :Email %><br>
    <%= form.text_area :email %>
    <% @user.errors.full_messages_for(:email).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :Phonenumber%><br>
    <%= form.text_area :phonenumber %>
    <% @user.errors.full_messages_for(:phonenumber).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>