<h1>New Resume</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :"User Name" %><br>
    <%= form.text_field :login %>
    <% @user.errors.full_messages_for(:login).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>
  <div>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :fnames %>
    <% @user.errors.full_messages_for(:fnames).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :"Last Name" %><br>
    <%= form.text_field :lname %>
    <% @user.errors.full_messages_for(:lname).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :"Perfered Name" %><br>
    <%= form.text_field :prename %>
    <% @user.errors.full_messages_for(:prename).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :Phonenumber %><br>
    <%= form.text_field :phonenumber %>
    <% @user.errors.full_messages_for(:phonenumber).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :"Password" %><br>
    <%= form.text_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :"Re-enter Password" %><br>
    <%= form.text_field :password_confirmation %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message|%>
      <div><%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>