<p><%= @user.fnames (@User.prename) @user.lname%></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@user) %></li>
  <li><%= link_to "Destroy", article_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<p>"Education History"</p>
<%= render @user.degrees %>
<p>"Work History"</p>
<%= render @user.works %>
<p>"Awards"</p>
<%= render @user.awards %>

<p>Add Education History: </p>
<%= render "degrees/form" %>
<p>"Add Work History:"</p>
<%= render "works/form" %>
<p>Add Awards: </p>
<%= render "awards/form" %>