<h1><%= @user.prename @user.lname%></h1>

<p><%= @user.fname @user.lname%></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@user) %></li>
  <li><%= link_to "Destroy", article_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>"Education History"</h2>
<%= render @user.degrees %>

<h2>"Awards"</h2>
<%= render @user.award %>

<h2>Add Education: </h2>
<%= render "degrees/form" %>

<h2>Add Awards: </h2>
<%= render "award/form" %>