<p><%= @users.fnames (@Users.prename) @users.lname%></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@users) %></li>
  <li><%= link_to "Destroy", article_path(@users), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<p>"Education History"</p>
<%= render @users.degrees %>
<p>"Work History"</p>
<%= render @users.work %>
<p>"Awards"</p>
<%= render @users.award %>

<p>Add Education History: </p>
<%= render "degrees/form" %>
<p>"Add Work History:"</p>
<%= render "work/form" %>
<p>Add Awards: </p>
<%= render "award/form" %>