<p><%= @user.fname (@User.prename) @user.lname%></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@user) %></li>
  <li><%= link_to "Destroy", article_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<p>"Education History"</p>
<%= render @user.degrees %>

<p>"Awards"</p>
<%= render @user.award %>

<p>Add Education: </p>
<%= render "degrees/form" %>

<p>Add Awards: </p>
<%= render "award/form" %>