<% unless degree.archived? %>
    <p>
        <strong>"School Name: "</strong>
        <%- degree.schoolname %>
    </p>
    <p>
        <strong>"Start Date: "</strong>
        <%- degree.sdate %>
    </p>
    <p>
        <strong>"End Date: "</strong>
        <%- degree.edate %>
    </p>
    <p>
        <strong>"Education Level: "</strong>
        <%- degree.educationlevel %>
    </p>
    <p>
        <%= link_to "Destroy Education", [degree.user, degree], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            } %>
    </p>

    <h2>Add a major to this degree:</h2>
    <%= form_with model: [ @adegree, @degree.major.build ] do |form| %>
    <p>
        <%= form.label :"Majors full name" %><br>
        <%= form.text_field :majname %>
    </p>
    <p>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected 'public'%>
  <p>
    <p>
        <%= form.submit %>
    </p>
<% end %>

<% end %>